src/main/resources/io/flowset/control/control-ui-components.xsd

<!--
  ~ Copyright (c) Haulmont 2024. All Rights Reserved.
  ~ Use is subject to license terms.
  -->

<xs:schema xmlns="http://flowset.io/schema/control-ui-components"
           elementFormDefault="qualified"
           targetNamespace="http://flowset.io/schema/control-ui-components"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:layout="http://jmix.io/schema/flowui/layout">

    <xs:element name="spinner">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="layout:baseComponent">
                    <xs:attribute name="loading" type="xs:boolean"/>
                    <xs:attribute name="size" type="xs:string"/>
                    <xs:attribute name="color" type="xs:string"/>

                    <xs:attributeGroup ref="layout:hasClassNames"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="noClickTreeDataGrid" type="layout:treeDataGridComponent"/>

</xs:schema>